

.todoListItem {
  border-bottom: 1px solid var(--lt-very-light-grayish-blue);
  color: var(--lt-very-dark-grayish-blue);
  cursor: pointer;
  font-size: 1.2rem;
  list-style: none;
  padding: 19px 20px 19px 52px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.todoContent {
  margin-right: 12px;

  /* After the user checks the complete button */
  /* color: var(--lt-light-grayish-blue);
  text-decoration: line-through; */
}

.crossIcon {
  height: 12px;
  width: 12px;
}
